
<p-steps [model]="steps" [activeIndex]="currentStep"></p-steps>

<div class="container" [ngSwitch]="currentStep">
  <div class="" *ngSwitchCase="0">
    <!-- Contenido del primer paso -->
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre" formControlName="nombre">
    </div>
    <br>
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="tipoProveedor">Tipo de Proveedor</label>
          <select class="form-control" id="tipoProveedor" formControlName="tipoProveedor">
            <option value="natural">Natural</option>
            <option value="juridica">Jurídica</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="CategoriaTributaria">Categoría Tributaria</label>
          <select class="form-control" formControlName="CategoriaTributaria">
            <option value="Declarante">Declarante</option>
            <option value="AgenteRetenedor">Agente Retenedor</option>
            <option value="Autoretendor">Auto retendor</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Agrega más campos del primer paso aquí -->
  </div>

  <div *ngSwitchCase="1">
    <!-- Contenido del segundo paso -->
    <div class="row justify-content-center">
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="tipoProveedor">Actividad Económica (Solo ingrese Números)</label>
          <select class="form-control" id="actividadEconomica " formControlName="tipoProveedor">
            <option value="nit">NIT.</option>
            <option value="cedula">CC.</option>
            <option value="cedulaExtranjeria">CE.</option>
            <option value="persona">PS.</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 mx-auto">
        <div class="form-group">
          <label for="nombre">Número de documento (si es NIT sin punto y con digito de verificación)</label>
          <input type="text" class="form-control" id="documento" formControlName="documento">
        </div>
      </div>
    </div>
  </div>

  <!-- Agrega más casos para más pasos según sea necesario -->

  <div class="d-flex justify-content-center my-3 button-container">
    <button type="button" class="btn btn-primary btn-sm mx-3 " (click)="previousStep()">Anterior</button>
    <button type="button" class="btn btn-primary btn-sm mx-3 " (click)="nextStep()">Siguiente</button>
    <!-- <button type="button" class="btn btn-primary btn-sm mx-3 " (click)="nextStep()" [disabled]="!proveedorForm.valid">Siguiente</button> -->
  </div>

</div>
